.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 4px 4px 0 #adaaaa;
}
.card>p{
    color: var(--cor2);
    text-align: justify;
    font-weight: lighter;
    font-size: 0.9rem;
    font-family: var(--Roboto);
}

